.news_pages {
    background-color: rgb(54, 54, 54);
}
.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color:black;
    font-size: 3vh;
    font-family: "./PT-mono-Blode.web";
    font-weight: bold;
    padding: 5vh;
}
.text {
    color:lightgray;
    font-family: "./PT-mono-Blode.web";
    font-size: 2vh;
    font-weight: bold;
}
.news_them {
    display: flex;
    width: 90%;
    height: 90%;
    padding: 10%;
}
.soobig {
    width: 70vh;
    height: 60vh;
}
.soobig2 {
    width: 45vh;
    height: 45vh;
}